{% extends "base.html" %}
{% block content %}
 <ul>
 {% for problem in problems %}
  <li class="problem-index-problem">
    <h3><a href="{{problem.url}}">{{problem.name}}</a></h3>
    <p>{{problem.title}}</p>
  </li>
 {% endfor %}
{% endblock %}
